@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .other-hotels
    &__cards
      grid-template-columns: repeat(3, auto)
      grid-gap: 20px
    &__image, &__booking
      width: 300px
      &--1
        width: 320px
@media ( max-width: 992px )
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-price-map
      flex-direction: row
  .booking
    width: 340px  
  .yandex-map
    width: 340px
  .newsletter
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 580px  
    &__title      
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .other-hotels
    &__cards
      grid-template-columns: repeat(2, auto)
      grid-gap: 10px
    &__image, &__booking
      width: 345px
      &--1
        width: 350px

@media ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu
      display: none
    &-top
      &__search, &__user
        display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .hotel
    &-price-map
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
    margin-bottom: 20px
  .yandex-map
    width: 100%
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      max-width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 37px
      &__strong
        font-size: 30px;
        line-height: 38px;
  .reviews
    padding-bottom: 50px    
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px 
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      margin-bottom: 47px
  .card
    width: 48%
  .other-hotels
    &__cards
      grid-template-columns: repeat(1, auto)
      grid-gap: 30px
      justify-content: center      
    &__card
      &--1
        grid-column: span 1
        flex-direction: column
        width: 350px
    &__offer
      &--1
        padding: 4px 9px
    &__image
      width: 350px
      &--1
        display: grid
        grid-direction: column
        width: 350px
        height: 250px
        border-radius: 8px 8px 0px 0px;
    &__booking
      width: 350px
      &--1
        height: 250px
        border-radius: 0px 0px 8px 8px;
        padding: 30px 21px 25px 32px
    &__description, &__ratings
      display: none
@media ( max-width: 576px )
  .container
    max-width: 500px
    width: 92%
  .logo
    width: 99px
    margin-bottom: 20px
  .subscribe
    width: 100%
  .activities
    &__title
      margin-bottom: 37px
  .card
    width: 100%
@media (max-width: 380px)
  .container
    max-width: 350px
    width: 92%
  .hotel
    &__slider
      max-width: 350px
      max-height: 179px
  .other-hotels
    &__cards
      grid-gap: 20px
    &__card
      &--1
        max-width: 310px
    &__image, &__booking
      max-width: 310px
@media (max-width: 330px)
  .other-hotels
    &__cards
      grid-template-columns: repeat(1, auto)
      grid-template-rows: repeat(1, auto)
      justify-content: center
      grid-gap: 30px
    &__card
      max-height: 300px
      &--1
        max-width: 200px
        max-height: 300px
    &__image, &__booking
      max-width: 200px
      max-height: 150px
    &__booking
      &--1
        height: 150px
    &__image
      &--1
        height: 150px
    &__offer
      font-size: 10px
      padding: 2px 8px
      &--1
        padding: 2px 8px
        font-size: 10px
    &__name
      font-size: 16px
      line-height: 100%
      padding-bottom: 20px
    &__button
      font-weight: normal
      padding: 4px 9px
  .booking-info
    display: none
  .old-price
    font-size: 10px
    line-height: 14px
  .new-price
    font-size: 14px
    line-height: 18px
